.main_container {
    /* border: 10px solid rgb(0, 11, 15); */
    /* background-color: rgb(32, 35, 36); */
    display: grid;
    width: 58%;
    margin: 100px auto;
    /* place-items: center;  */
    gap: 5px;
    /* grid-template-columns: repeat(15, 1fr);  */
    /* grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 100px; */
    /* grid-template-columns: 120px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px; */

    padding: 7px;
    border-radius: 4px;
    background: #292929;
    box-shadow: inset 5px 5px 10px #c7c5c5,
                inset -5px -5px 10px #7a7a7a;

}

.first_row {
    display: grid;
    gap: 10px;
    grid-template-columns: 100px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 150px;
}

.first_row div:hover {
    background-color: rgb(40, 40, 41);
    cursor: pointer;
}

.second_row {
    display: grid;
    gap: 10px;
    grid-template-columns: 150px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 100px;
}

.second_row div:hover {
    background-color: rgb(40, 40, 41);
    cursor: pointer;
}

.third_row {
    display: grid;
    gap: 10px;
    grid-template-columns: 150px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 170px;
}

.third_row div:hover {
    background-color: rgb(40, 40, 41);
    cursor: pointer;
}

.fourth_row {
    display: grid;
    gap: 10px;
    grid-template-columns: 195px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 195px;
}

.fourth_row div:hover {
    background-color: rgb(40, 40, 41);
    cursor: pointer;
}

.fifth_row {
    display: grid;
    gap: 10px;
    grid-template-columns: 100px 60px 150px 390px 150px 60px 60px 60px;
}

.fifth_row div:hover {
    background-color: rgb(40, 40, 41);
    cursor: pointer;
}

.item1 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;

}

.item2 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;

}

.item3 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item4 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item5 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item6 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item7 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item8 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item9 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item10 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item11 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item12 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item13 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item14 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item15 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item16 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item17 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item18 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item19 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item20 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item21 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item22 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item23 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item24 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item25 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item26 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item27 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item28 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item29 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item30 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item31 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item32 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item33 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item34 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item35 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item36 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item37 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item38 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item39 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item40 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item41 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item42 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item43 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;

}

.item44 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item45 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item46 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item47 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item48 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item49 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item50 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item51 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item52 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item53 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item54 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;

}

.item55 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item56 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item57 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item58 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item59 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item60 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}

.item61 {
    border: 1px solid black;
    height: 50px;
    /* width: 100px;  */
    /* background-color: black; */
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* border-radius: 10px; */
    /* border-radius: 10px; */
    border-radius: 4px;
    background: #080808;
    box-shadow: inset 5px 5px 10px #0f0f0f,
                inset -5px -5px 10px #111111;
}